@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-main-color: #d61c62;
  --color-text-color: #222;
  --color-button-color: #018ae0;
  --color-hover-color: #6610f2;
  --color-black-text: #4f4f4f;
  --color-smokeGray: #c2c2c2;
  --color-darkBlue: #024575;

  --color-text-gray: #828282;
  --color-orange: #ff5a2f;
  --color-orange-dark: #e04e29;
  --color-borderGray300: #f0f0f0;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-smokeGray: #c2c2c2;
  --color-red: #ef4444;
  --color-baground: #fbfbfb;
}
